*{margin:0; padding:0; box-sizing:border-box; font-family: "Nanum Gothic", "나눔고딕", "NanumGothic", "돋움", "Dotum", sans-serif; color:#333;}
a{text-decoration:none; color:#333;}
li{list-style:none;}
img{vertical-align:bottom;}
addres{font-style:none;}


/*footer*/
footer{background:#40413f; color:#fff; font-size:0.75em;padding-bottom:2%; overflow:hidden; position:relative; bottom:0; left:0; z-index:9999; width:100%; float:left;}
footer a{color:#fff;}
#footer{width:70%; margin:0 auto;}
.footer_top_content{overflow:hidden; text-align:center;}
.footer_logo{float:left;margin:2% 8%;}
.footer_nav{float:right; overflow:hidden; margin:2% 0 2% 2%;width:48%;}
.footer_nav>li{float:left; margin-left:3%;}
.footer_nav>li p{font-size:1em;margin-bottom:10%; font-weight:bold; color:#fff;}
.footer_nav>li>ul>li{margin-bottom:10%;}

.footer_nav_l{height:38px; width:1px; border-left:1px solid #fff; margin-top:2%;}

.footer_bottom_content>p{margin-bottom:1%; text-align:left;}

.footer_bottom_content p{color:#fff;}
.footer_bottom_text{width:40%; overflow:hidden; color:#fff;}
.footer_bottom_text p{float:left; margin:1% 0;}
.footer_bottom_text ul{float:right; width:30%;}
.footer_bottom_text ul>li{float:left; margin-left:5%;}
.fm_site{position:absolute; bottom:20%;right:16%;}

